@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem 2rem;
  background-color: #ffffff;
}

.navbarBrand {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0rem;
}

.navbarLogo {
  height: 60px;
  width: auto;
  object-fit: contain;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.tagline {
  font-family: 'DM Sans', sans-serif; /* Apply DM Sans font */
  color: #00b550; /* Updated green color */
  font-weight: 900;
  font-style: italic;
  font-size: 1.7rem;
  text-align: left;
  line-height: 1;
} 