.searchContainer {
  width: 100%;
  max-width: 800px;
  margin: 2px auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 999px;
  padding: 20px 18px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.searchBar:hover,
.searchBar:focus-within {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

.searchIcon {
  color: #000;
  font-size: 10px;
  margin-right: 0px;
  transform: scale(0.8);
}

.searchInput {
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  background: transparent;
  padding: 0;
  text-align: center;
}

.searchInput::placeholder {
  color: #000;
}



@media (max-width: 600px) {
  .searchContainer {
    padding: 0 10px;
  }
  
 
  
  .searchIcon,
  .filterButton {
    font-size: 18px;
  }
  
  .searchInput {
    font-size: 14px;
  }
}

/* Tablet and above */
@media (min-width: 768px) {
  .searchContainer {
    padding: 24px;
  }
  
  .searchBar {
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
  }
} 